body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 900;
  color: #138073;
  background-color: #e6e6e6;
}

#root {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

#form {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  align-items: center;
}

#title {
  font-size: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-weight: bolder;
}

input[type="text"] {
  height: 64px;
  color: #138073;
  padding-left: 20px;
  font-size: 16px;
  margin-bottom: 20px;
}

input[type="email"] {
  height: 64px;
  color: #138073;
  padding-left: 20px;
  font-size: 16px;
  margin-bottom: 20px;
}

::placeholder {
  color: #138073;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

input[type="submit"] {
  width: 250px;
  height: 64px;
  margin-top: 20px;

  text-transform: uppercase;
  border: 0;
  color: white;
  background-color: #39b69f;
  font-size: 12px;
  letter-spacing: 0.2em;
}

a {
  color: #138073;
}

.name {
  width: 100%;
}

.email {
  width: 100%;
}

@media only screen and (max-width: 510px) {
  #title {
    text-align: end;
  }

  #form {
    width: 100%;
  }

  #root {
    padding: 30px;
  }
  /*
  input[type="text"],
  input[type="email"] {
    width: 100%;
  }
  */
}
@media only screen and (min-width: 511px) {
  #title {
    text-align: center;
  }
  input[type="text"],
  input[type="email"] {
    width: 450px;
  }
}
